<?php

/** @var \Magento\Store\Block\Switcher $block */
?>
<?php // @codingStandardsIgnoreFile ?>
<?php
$stores = $block->getStores();
$flags = $block->getStoreViewFlag();
?>
<?php if (count($block->getStores()) > 1): ?>
    <?php
    $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : '' ?>
    <div class="switcher language switcher-language" data-ui-id="language-switcher"
         id="switcher-language<?= /* @noEscape */
         $id ?>">
        <strong class="label switcher-label"><span><?= $block->escapeHtml(__('Language')) ?></span></strong>
        <div class="actions dropdown options switcher-options">
            <div class="action toggle switcher-trigger"
                 id="switcher-language-trigger<?= /* @noEscape */
                 $id ?>"
                 data-mage-init='{"dropdown":{}}'
                 data-toggle="dropdown"
                 data-trigger-keypress-button="true">
                <strong class="view-<?= $block->escapeHtml($block->getCurrentStoreCode()) ?>">
                    <?php
                    if (isset($flags[$block->getCurrentStoreId()]) && !empty($flags[$block->getCurrentStoreId()])) : ?>
                        <?php $current_flag = $flags[$block->getCurrentStoreId()]; ?>
                        <span class="flag">
                            <img class="flag-image"
                                 style="height: <?= $current_flag['height'] ?>px; width: <?= $current_flag['width']; ?>px;vertical-align: middle;"
                                 src='<?= /* @noEscape */
                                 $current_flag['image'] ?>'
                                 title="<?= $block->escapeHtml($block->getStoreName()) ?>"
                                 alt=" <?= $block->escapeHtml($block->getStoreName()) ?>"/>
                        </span>
                    <?php endif; ?>
                    <span><?= (isset($flags[$block->getCurrentStoreId()])
                            && !empty($flags[$block->getCurrentStoreId()])
                            && ($flags[$block->getCurrentStoreId()]['show_label'])) ?
                            '' : $block->escapeHtml($block->getStoreName())
                        ?></span>
                </strong>
            </div>
            <ul class="dropdown switcher-dropdown"
                data-target="dropdown" style="<?= (isset($flags[$block->getCurrentStoreId()])
                && !empty($flags[$block->getCurrentStoreId()])
                && ($flags[$block->getCurrentStoreId()]['show_label'])
            ) ?
                'min-width:auto' : '';
            ?>">
                <?php foreach ($block->getStores() as $_lang): ?>
                    <?php if ($_lang->getId()!=$block->getCurrentStoreId()): ?>
                        <li class="view-<?= $block->escapeHtml($_lang->getCode()) ?> switcher-option<?= /* @noEscape */
                        ($_lang->getFlag() ? ' has-flag' : '') ?>">
                            <a href="#" data-post='<?= /* @noEscape */
                            $block->getTargetStorePostData($_lang) ?>'>
                                <?php if ($_lang->getFlag()): ?>
                                    <span class="flag-icon flag-icon-<?= /* @noEscape */
                                    $_lang->getFlag() ?>"></span>
                                <?php endif; ?>
                                <?php
                                if (isset($flags[$_lang->getId()]) && !empty($flags[$_lang->getId()])) : ?>
                                    <?php $flag = $flags[$_lang->getId()]; ?>
                                    <span class="flag">
                                        <img class="flag-image"
                                             style="height: <?= $flags[$block->getCurrentStoreId()]['height'] ?>px; width: <?= $flags[$block->getCurrentStoreId()]['width']; ?>px;vertical-align: middle;"
                                             src='<?= /* @noEscape */
                                             $flag['image'] ?>' title="<?= $block->escapeHtml($_lang->getName()) ?>" alt="<?= $block->escapeHtml($_lang->getName()) ?>"/>
                                    </span>
                                <?php endif; ?>
                                <?= (isset($flags[$block->getCurrentStoreId()])
                                    && !empty($flags[$block->getCurrentStoreId()])
                                    && ($flags[$block->getCurrentStoreId()]['show_label'])
                                ) ?
                                    '' : $block->escapeHtml($_lang->getName());
                                ?>
                            </a>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
<?php endif; ?>
